<p id="notice"><%= notice %></p>

<h1>My Companies</h1>
<%= link_to 'New Company', new_company_path %>

<div class="container">
  <div class="row">
    <% current_user.companies.each do |company| %>

      <tr>
        <td><%= image_tag company.logo.url(:thumb) %><td>
        <td><%= company.name %></td>
       <td><%= company.points %></td> <br>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Contact',new_company_contact_path(company.id) %></td>

        

          <td><div class="dropdown closed">
              <a class="btn btn-default btn-sm dropdown-toggle" href="http://example.com" id="dropdownMenuLink" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Milestones <span class="glyphicon glyphicon-triangle-bottom"></span>
              </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Interested</a><br>
                <a class="dropdown-item" href="#">Contacted</a><br>
                <a class="dropdown-item" href="#">Set Up Meeting</a><br>
                <a class="dropdown-item" href="#">Got Coffee</a><br>
                <a class="dropdown-item" href="#">Followed Up </a><br>
                <a class="dropdown-item" href="#">Applied</a><br>
                <a class="dropdown-item" href="#">Interviewing</a><br>
                <a class="dropdown-item" href="#">Got Offer</a>
            </div>
    
        </div>
    </div>
      </div>
    </div>
    <% end %>
</div>

<br>
