<p id="notice"><%= notice %></p>

<h1>My Companies</h1>
<h4>Total Points: <%= current_user.points_total %> </h4>
<%= link_to 'New Company', new_company_path %>

<div class="container">
  <div class="row">
    <% current_user.companies.each do |company| %>
    <div class='container'>
      <% if company.logo_file_name == nil %>
        <h3><%= company.name %></h3>
      <% else %>
        <%= image_tag company.logo.url(:thumb) %>
      <% end %>
  </div>
  <div class="row">
  <div class='container'>
      <%= company.points %>
      <%= link_to 'Edit', edit_company_path(company) %>
      <%= link_to 'Add Contact', new_company_contact_path(company.id) %>
        <div class="dropdown closed">
            <a class="btn btn-default btn-sm dropdown-toggle" href="http://example.com" id="dropdownMenuLink" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Milestones <span class="glyphicon glyphicon-triangle-bottom"></span>
            </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Interested</a><br>
              <a class="dropdown-item" href="#">Contacted</a><br>
              <a class="dropdown-item" href="#">Set Up Meeting</a><br>
              <a class="dropdown-item" href="#">Got Coffee</a><br>
              <a class="dropdown-item" href="#">Followed Up </a><br>
              <a class="dropdown-item" href="#">Applied</a><br>
              <a class="dropdown-item" href="#">Interviewing</a><br>
              <a class="dropdown-item" href="#">Got Offer</a>
          </div>
        </div>
    </div>
    </div>
    </div>
    <% end %>
</div>

<br>
