<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.companies.each do |company| %>
      <tr>
        <td><%= image_tag company.logo.url(:thumb) %><td>
        <td><%= company.name %></td>
        <td><%= company.points %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Contact', new_company_contact_path(company.id) %></td>
          <td><div class="dropdown closed">
              <a class="btn btn-default btn-sm dropdown-toggle" href="http://example.com" id="dropdownMenuLink" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Milestones <span class="glyphicon glyphicon-triangle-bottom"></span>
              </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a><br>
                <a class="dropdown-item" href="#">Another action</a><br>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
